@charset "utf-8";

// **** create items

.create-item {
  // - ul
  background-color: #fff;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 1rem;
  }

  & > li {
    // ul 바로 아래 li
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 2.1rem;
    // padding: 0 1rem;
    min-height: 5rem;
    box-sizing: border-box;
    border-top: 1px solid $color-lightgray2;

    &:first-child {
      border-top: none;
    }

    & > a {
      width: 100%;
      height: 100%;
    }

    &.ly-padding-sm {
      // - create-item 의 li 중 padding값이 예외인 요소에게 주는 클래스
      padding-left: 1rem;
      padding-right: 1rem;
      @include flex-direction(column);
    }

    .button-image-attach {
      @include flex-grow(0);
      width: 3.6rem;
      height: 3.6rem;

      .icon-image-attach {
        width: 3.6rem;
        height: 3.6rem;
        background-position: 100% 50%;
        background-size: 2.8rem 2.8rem;
      }

      & + .image-uploaded {
        position: absolute;
        top: 0.65rem;
        right: 2.1rem;
        display: block;
        width: 3.6rem;
        height: 3.6rem;
        background-color: $color-lightgray;
        @include pointer-none;
        @include select-none;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    } //end of .button-image-attach
  } //end of li

  .create-title {
    @include flex-grow(1);
    font-size: 1.6rem;
  }

  .create-input {
    display: block;
    width: 100%;
    min-height: 5rem;
    font-size: 1.6rem;
    color: $color-gray;
    box-sizing: border-box;

    @include placeholder {
      color: $color-create-placeholder;
    }
  }

  .create-description {
    width: 100%;
    @extend .create-input;
    position: relative;
    overflow: hidden;
    resize: none;
    min-height: 5rem;
    // padding: 1.2rem 0 0.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    line-height: 1.88;

    &[contenteditable="true"]:empty:before {
      position: absolute;
      top: 50%;
      // left: 0;
      left: 1rem;
      display: block;
      content: attr(data-placeholder);
      color: $color-create-placeholder;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }

  .create-description-image {
    //업로드한 이미지 규정
    position: relative;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .button-image-delete {
      position: absolute;
      top: -1.2rem;
      right: 0.5rem;
      width: 3rem;
      height: 3rem;
    }

    .icon-delete {
      width: 3rem;
      height: 3rem;
      background-size: 2.4rem 2.4rem;
    }
  }

  .create-date-container {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    color: $color-black;
    font-size: 1.4rem;

    .create-date {
      @include flex-grow(1);
      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-start);
    }

    .create-date-placeholder {
      color: $color-create-placeholder;
    }

    .button-date-delete {
      width: 3rem;
      height: 3rem;

      .icon-delete {
        width: 3rem;
        height: 3rem;
        background-size: 2.4rem 2.4rem;
        background-position: 50%;
      }

      &:disabled,
      &.disable {
        .icon-delete {
          background-image: icon(delete, #d3d3d3);
        }
      }
    }

    .icon-clock {
      @include flex-grow(0);
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 0.4rem 0 0.8rem;
    }

    .icon-arrow-right {
      width: 1.4rem;
      height: 1.4rem;
    }
  } //end of .create-date-container

  .create-radio-container {
    @include flexbox;
    @include align-items(center);

    .radio {
      margin-left: 2.8rem;
      &:first-child {
        margin-left: 0;
      }
    }

    .create-radio {
      &:checked,
      &:not(:checked) {
        //기본 라디오 ui 숨기기
        position: absolute;
        left: -9999rem;
      }

      &:checked + label,
      &:not(:checked) + label {
        //라벨 스타일링
        display: inline-block;
        position: relative;
        padding-left: 2.9rem;
        font-size: 1.4rem;
        color: $color-black;
        cursor: pointer;
      }

      &:checked + label:before,
      &:not(:checked) + label:before {
        //동그라미 바탕
        position: absolute;
        left: 0;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border: 1px solid $color-create-placeholder;
        background: $color-lightgray2;
        border-radius: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        content: "";
      }

      &:checked + label:after,
      &:not(:checked) + label:after {
        //체크됐을 때 동그라미
        width: 0.8rem;
        height: 0.8rem;
        background: #373631;
        position: absolute;
        top: 0.65rem;
        left: 0.6rem;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        // -webkit-transition: all 0.2s ease;
        // transition: all 0.2s ease;
        content: "";
      }
      &:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  } //end of .create-radio-container

  .create-toggle {
    width: 100%;
    height: 100%;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    // background: crimson;

    .toggle-title {
      font-size: 1.6rem;
    }
  } //----end of .crete-toggle

  .toggle-checkbox {
    &:checked,
    &:not(:checked) {
      //기본 체크박스 ui 숨기기
      position: absolute;
      left: -9999rem;
    }

    & + .toggle-switch {
      position: relative;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      width: 4.5rem;
      height: 3.5rem;
      // outline: 4px solid navy;

      .toggle-body {
        //토글 바디
        position: relative;
        width: 4.6rem;
        height: 2.4rem;

        &:before,
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 4.6rem;
          height: 2.4rem;
          background-size: 100%;
          content: "";
        }
        &:before {
          //off일 때
          @include bgi("icon-switch-back-off");
        }
        &:after {
          //on일 때
          opacity: 0; //기본 숨김
          @include bgi("icon-switch-back-on");
        }
      } //----end of .toggle-body

      .toggle-head {
        position: relative;
        // width: 4.6rem;
        width: 100%;
        height: 2.4rem;

        &:before,
        &:after {
          position: absolute;
          top: 0rem;
          // left: -0.2rem;
          left: -2.5rem;
          // outline: 3px dotted red;
          width: 2.4rem;
          height: 2.5rem;
          display: block;
          background-size: 100%;
          transition: transform 0.5s;
          -webkit-transform: translateX(0);
          transform: translateX(0);
          content: "";
        }
        &:before {
          //off일 때
          @include bgi("icon-switch-face-off");
        }
        &:after {
          //on일 때
          opacity: 0; //기본 숨김
          @include bgi("icon-switch-face-on");
        }
      } //----end of .toggle-head
    } //----end of .toggle-switch (normal)

    &:checked + .toggle-switch {
      .toggle-body {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      } //end of .toggle-body

      .toggle-head {
        &:before {
          opacity: 0;
          -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
          transition: transform 0.5s;
        }
        &:after {
          opacity: 1;
          -webkit-transform: translateX(2.4rem);
          transform: translateX(2.4rem);
          transition: transform 0.5s;
        }
      } //end of .toggle-head
    } //end of .toggle-switch
  } //----end of .toggle-checkbox

  .voters-list-container {
    width: 100%;
    @include flexbox;
    @include flex-wrap(wrap);
    @include align-items(center);
    padding-top: 0.6rem;
  }
  .voters-list {
    //투표 대상 - 삭제 가능
    position: relative;
    height: 3.4rem;
    margin-bottom: 0.6rem;
    margin-left: 0.4rem;
    padding-right: 2.8rem;
    padding-left: 0.9rem;
    font-size: 1.2rem;
    line-height: 3.2rem;
    border-radius: 17px;
    background-color: #ffffff;
    border: solid 1px $color-filter-border;

    &:first-child {
      margin-left: 0;
    }

    .voters-list-delete {
      position: absolute;
      top: 0.81rem;
      right: 0.7rem;
      width: 1.6rem;
      height: 1.6rem;
      background-image: icon(close, "#6e6e6e");
      background-size: 100%;
      // transform: translateY(-50%);
    }
  }
}

.create-buttons-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 5rem;
  margin-top: 2rem;

  [class^="button-"] {
    @include flex-grow(1);
    @include flex-basis(50%);
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
  }

  .button-prev {
    background-color: $color-lightgray2;
  }

  .button-next {
    background-color: $color-yellow;
  }

  .button-confirm {
    background-color: #fcc200;
  }
}

.create-item .voters-selectGroup {
  //create step3 그룹선택 화면

  .voters-setting {
    // 개별 항목
    width: 100%;
    margin-top: 0.9rem;
    background-color: $color-noPolls-bg;
    border: 1px solid $color-lightgray2;

    & > .title {
      position: relative;
      font-size: 1.2rem;
      height: 3rem;
      line-height: 3rem;
      padding-left: 1.1rem;
      padding-right: 0.4rem;
      border-bottom: 1px solid $color-lightgray2;

      & > .selectAll {
        //기본 ui 숨기기
        position: absolute;
        left: -9999rem;

        & + label {
          position: absolute;
          top: 50%;
          right: 0.4rem;
          display: block;
          width: 6.4rem;
          height: 2.2rem;
          line-height: 2rem;
          text-align: right;
          padding-right: 0.8rem;
          background-color: $color-noPolls-bg;
          border: 1px solid $color-filter-border;
          border-radius: 1.4rem;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

          &:before {
            display: block;
            position: absolute;
            left: 1.1rem;
            top: 0.5rem;
            width: 1.2rem;
            height: 0.9rem;
            background-image: icon(checkmark, #a8a8a8);
            background-size: 100%;
            content: "";
          }
        }

        &:checked + label {
          background-color: #cdf1ff;
          border-color: #29ace4;

          &:before {
            background-image: icon(checkmark, #29ace4);
            background-size: 100%;
          }
        }
      }
    }

    & > .body {
      min-height: 5rem;

      &.voters-radio-container {
        @include flexbox;
        @include flex-wrap(wrap);

        & > .block {
          // background: pink;
          @include flex-grow(1);
          @include flex-basis(50%);
          border-left: 1px solid $color-lightgray2;
          border-bottom: 1px solid $color-lightgray2;

          &:nth-child(2n + 1) {
            border-left: none;
          }
          &:nth-child(n + 3) {
            border-bottom: none;
          }
        }

        [type="radio"] {
          &:checked,
          &:not(:checked) {
            //기본 라디오 ui 숨기기
            position: absolute;
            left: -9999rem;
          }

          &:checked + label,
          &:not(:checked) + label {
            //라벨 스타일링
            display: block;
            position: relative;
            height: 5rem;
            line-height: 5rem;
            font-size: 1.4rem;
            text-align: center;
          }

          &:checked + label {
            background-color: #fff;
            border: 1px solid $color-blue;
          }
        }
      }

      & > .text {
        font-size: 1.4rem;
        line-height: 5rem;

        &.placeholder {
          color: $color-gray;
        }
      }
    }

    .voters-dropdown-container {
      //학과 부서 선택 영역
      position: relative;
      @include flexbox;
      @include justify-content(space-between);
      padding: 0 1.1rem;
      width: 100%;

      .placeholder-text {
        @include flex-grow(1);
      }

      .icon-container {
        @include flex-grow(0);
        .icon {
          width: 1.6rem;
          height: 1.2rem;
          background-size: 100%;
        }
      }
      .dropdown-list {
        display: none;
      }

      &.active {
        .icon-dropdown {
          background-image: icon(dropdown-up, #000);
        }
        [class^="dropdown-style-"] {
          display: block;
        }
      }
    } //end of .voters-dropdown-container

    .voters-checkbox-container {
      @include flexbox;
      @include align-items(center);
      padding: 0 1.2rem;

      .checkbox-block {
        margin-left: 4.7rem;

        &.grade {
          margin-left: 1.5rem;
        }

        &:first-child {
          margin-left: 0;
        }
      }
    } //end of .voters-checkbox-container
  } //end of setting

  .button-select-done {
    @include align-self(flex-end);
    display: block;
    width: 10rem;
    height: 3.4rem;
    margin: 1.9rem 0 2.3rem;
    font-size: 1.2rem;
    text-align: center;
    background-color: #fff;
    border-radius: 1.7rem;
    border: 1px solid #d2d2d2;
  }
} //----end of .voters-selectGroup

.create-item .voters-individual {
  // - 개인별로 투표대상자 설정할 때
  position: relative;
  padding: 1.6rem 1rem;
  min-height: 32rem;

  .search-container {
    width: 100%;

    .deco-search {
      left: 1rem;
    }

    input {
      color: #6e6e6e;
    }

    .button-search-delete {
      right: 1rem;
    }
  }

  .search-message {
    font-size: 1.2rem;
    margin: 0.8rem 1rem;
  }

  [class^="dropdown-style-"] {
    top: 6rem;
    left: 1rem;
    width: calc(100% - 2rem);
    max-height: 22rem;
  }

  &.active {
    [class^="dropdown-style-"] {
      display: block;
    }
  }
} //----end of .voters-individual

.checkbox-style01 {
  &:checked,
  &:not(:checked) {
    //기본 ui 숨기기
    position: absolute;
    left: -9999rem;
  }

  &:checked + label,
  &:not(:checked) + label {
    //라벨 스타일링
    display: inline-block;
    position: relative;
    padding-left: 2.9rem;
    font-size: 1.4rem;
    color: $color-black;
    cursor: pointer;
  }

  &:checked + label:before,
  &:not(:checked) + label:before {
    //동그라미 바탕
    position: absolute;
    left: 0;
    top: 50%;
    width: 2rem;
    height: 2rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: "";
    background-image: icon(checkbox-unchecked, #000);
    background-size: 100%;
  }

  &:checked + label:before {
    background-image: icon(checkbox, #000);
    background-size: 100%;
  }
}

.create-confirmation {
  .create-item:first-child {
    margin-bottom: 0;
  }

  .create-description {
    color: #0c0c0c;
  }

  .create-description-image {
    margin: 2rem 0 0;
  }

  .create-option-info {
    color: $color-gray;
    background-color: pink;
    background-color: $color-noPolls-bg;

    .option-info-title {
      height: 3rem;
      padding: 0 2.1rem;
      font-size: 1.2rem;
      font-weight: $fw-b;
      line-height: 3rem;
      border-top: solid 1px $color-lightgray2;
      border-bottom: solid 1px $color-lightgray2;
    }

    .option-info-container {
      padding: 2rem 2.1rem;
      font-size: 1.4rem;
    }

    .option-block {
      @include flexbox;
      @include align-items(flex-start);
      @include justify-content(space-between);
      @include flex-wrap(wrap);
      margin: 0.7rem 0;
    }

    .option-name {
    }

    .option-setting {
      text-align: right;
      @include flex-grow(0);

      &.active {
        color: $color-blue;

        &:before {
          display: inline-block;
          width: 1.2rem;
          height: 0.9rem;
          margin-right: 0.3rem;
          background-image: icon(checkmark, $color-blue);
          background-size: 100%;
          content: "";
        }
      }

      small {
        display: block;
        margin-top: 0.5rem;
        font-size: 1.2rem;

        &:first-child {
          margin-top: 0.1rem;
        }
      }
    }
  }

  .create-buttons-container {
    margin-top: 0;
  }
}

.create .item-confirmation {
  //확정된 투표 목록
  width: 100%;

  li {
    position: relative;
    width: 100%;
    height: 5rem;
    margin-bottom: 0.2rem;
    padding: 0 1.4rem;
    font-size: 1.4rem;
    line-height: 5rem;
    @include ellipsis;
    background-color: $color-noPolls-bg;
    border: solid 1px $color-lightgray2;

    &:last-child {
      margin-bottom: 1.1rem;
    }

    .image {
      position: absolute;
      top: 0.65rem;
      right: 0.7rem;
      display: block;
      width: 3.6rem;
      height: 3.6rem;
      background-color: $color-lightgray;

      img {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }
}
