@charset "utf-8";

// **** create items

.create-process {
  //[*] 기본적인 컨테이너 스타일 선언
  @include flexbox;
  @include justify-content(center);
  height: 4.8rem;
  padding: 0 1.8rem;
  background-color: $color-orange;
  counter-reset: number; //카운터 리셋

  &:before {
    //우측 상단의 보팅몬스터
    display: block;
    z-index: 1;
    position: absolute;
    top: -3.6rem;
    right: 1.3rem;
    width: 5.7rem;
    height: 5.4rem;
    @include bgi("deco-process-1");
    background-size: 100%;
    content: "";
  }

  .process-level {
    position: relative;
    //[*] 기본적인 레벨 스타일 선언
    @include flexbox;
    @include align-items(center);
    height: 100%;

    .text {
      //텍스트

      color: #fff;
      font-size: 1.4rem;
      font-weight: $fw-b;
      display: none;

      &:after {
        //삼각형 뒤쪽 모양 정의
        display: none;
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        border-style: solid;
        content: "";
      }
    }

    &:after {
      //삼각형 앞쪽 모양 정의
      display: none;
      position: absolute;
      top: 0;
      width: 0;
      height: 0;
      border-style: solid;
      content: "";
    }

    &:before {
      //숫자
      z-index: 1;
      position: relative;
      display: inline-block;
      width: 2rem;
      height: 2rem;
      line-height: 1.7rem;
      margin-left: 1.5vw;
      border-radius: 50%;
      text-align: center;
      font-size: 1.4rem;
      color: $color-brown2;
      background-color: $color-lightorange;
      border: 1px dotted $color-brown2;
      box-sizing: border-box;
      //---
      content: counter(number);
      counter-increment: number;
    }
  } //end of .process-level (기본)

  // ----
}

// 공통 스타일링 적용
@for $i from 1 through 4 {
  .create-process.active-#{$i} {
    //n번째 요소가 활성화 상태라면

    .process-level:nth-child(#{$i}) {
      //n번째 요소에게 스타일 적용
      margin-right: 2.6rem;
      padding-left: 4rem;
      min-width: 19.4rem;
      width: 70%;
      position: relative;
      background-color: $color-lightorange;

      .text {
        //텍스트 보임
        display: block;

        &:after {
          //뒤쪽 화살표 모양 스타일
          display: block;
          left: 100%;
          border-width: 2.4rem 0 2.4rem 2.4rem;
          border-color: transparent transparent transparent $color-lightorange;
        }
      }

      &:before {
        //숫자 활성화
        // margin-left: 4.3rem;
        margin-right: 0.8rem;
        background-color: #fff;
        border-color: #fff;
      }
    }

    .process-level:nth-child(#{($i) - 1}) {
      //그 n-1번째에게도 화살표 추가

      &:after {
        //삼각형 앞
        z-index: 1;
        display: block;
        left: 100%;
        border-width: 2.4rem 0 2.4rem 2.4rem;
        border-color: transparent transparent transparent $color-orange;
      }
    }
  }
} //for문 종료

//예외 상황 정의
.create-process.active-1 {
  .process-level:nth-child(1) {
    margin-left: 0;
    padding-left: 0;
    margin-right: 3rem;

    .text:before {
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $color-lightorange;
      content: "";
    }
  }
}
//예외 상황 정의
.create-process.active-4 {
  .process-level:nth-child(3) {
    &:after {
      // display: none;
      // width: 100%;
      height: 100%;
      background-color: $color-orange;
    }
  }
  .process-level:nth-child(4) {
    margin-right: 0;
    margin-left: 4rem;
    padding-left: 0;
    .text:before {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
      height: 100%;
      background-color: $color-lightorange;
      content: "";
    }
    .text:after {
      z-index: 1;
      left: -2.4rem;
      border-width: 2.4rem 2.4rem 2.4rem 0;
      border-color: transparent $color-lightorange transparent transparent;
    }
  }
}

.create-item {
  background-color: #fff;
  margin-bottom: 1rem;

  &:first-child {
    margin-top: 1rem;
  }

  li {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 0 2.1rem;
    // padding: 0 1rem;
    min-height: 5rem;
    box-sizing: border-box;
    border-top: 1px solid $color-lightgray2;

    &:first-child {
      border-top: none;
    }

    & > a {
      width: 100%;
      height: 100%;
    }

    &.ly-padding-sm {
      //create-item 의 li 중 padding값이 예외인 요소에게 주는 클래스
      padding: 0 1rem;
      @include flex-direction(column);
    }

    .button-image-attach {
      @include flex-grow(0);
      width: 3.6rem;
      height: 3.6rem;

      .icon-image-attach {
        width: 3.6rem;
        height: 3.6rem;
        background-position: 100% 50%;
        background-size: 2.8rem 2.8rem;
      }
    }
  }

  .create-title {
    @include flex-grow(1);
    font-size: 1.6rem;
  }

  .create-input {
    display: block;
    width: 100%;
    min-height: 5rem;
    font-size: 1.6rem;
    color: $color-gray;
    box-sizing: border-box;

    @include placeholder {
      color: $color-create-placeholder;
    }
  }

  .create-description {
    width: 100%;
    @extend .create-input;
    position: relative;
    overflow: hidden;
    resize: none;
    min-height: 5rem;
    // padding: 1.2rem 0 0.6rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    line-height: 1.88;

    &[contenteditable="true"]:empty:before {
      position: absolute;
      top: 50%;
      left: 0;
      display: block;
      content: attr(data-placeholder);
      color: $color-create-placeholder;
      transform: translateY(-50%);
    }
  }

  .create-description-image {
    //업로드한 이미지 규정
    position: relative;
    margin-top: 3.4rem;
    margin-bottom: 1rem;
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    .button-image-delete {
      position: absolute;
      top: -1.2rem;
      right: 0.5rem;
      width: 3rem;
      height: 3rem;
    }

    .icon-delete {
      width: 3rem;
      height: 3rem;
      background-size: 2.4rem 2.4rem;
    }
  }

  .create-date-container {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    color: $color-black;
    font-size: 1.4rem;

    .create-date {
      @include flex-grow(1);
      @include flexbox;
      @include align-items(center);
      @include justify-content(flex-start);
    }

    .create-date-placeholder {
      color: $color-create-placeholder;
    }

    .button-date-delete {
      width: 3rem;
      height: 3rem;

      .icon-delete {
        width: 3rem;
        height: 3rem;
        background-size: 2.4rem 2.4rem;
        background-position: 50%;
      }

      &:disabled,
      &.disable {
        .icon-delete {
          background-image: icon(delete, #d3d3d3);
        }
      }
    }

    .icon-clock {
      @include flex-grow(0);
      width: 1.6rem;
      height: 1.6rem;
      margin: 0 0.4rem 0 0.8rem;
    }

    .icon-arrow-right {
      width: 1.4rem;
      height: 1.4rem;
    }
  } //end of .create-date-container

  .create-radio-container {
    @include flexbox;
    @include align-items(center);

    .radio {
      margin-left: 2.8rem;
      &:first-child {
        margin-left: 0;
      }
    }

    .create-radio {
      &:checked,
      &:not(:checked) {
        //기본 라디오 ui 숨기기
        position: absolute;
        left: -9999rem;
      }

      &:checked + label,
      &:not(:checked) + label {
        //라벨 스타일링
        display: inline-block;
        position: relative;
        padding-left: 2.9rem;
        font-size: 1.4rem;
        color: $color-black;
        cursor: pointer;
      }

      &:checked + label:before,
      &:not(:checked) + label:before {
        //동그라미 바탕
        position: absolute;
        left: 0;
        top: 50%;
        width: 2rem;
        height: 2rem;
        border: 1px solid $color-create-placeholder;
        background: $color-lightgray2;
        border-radius: 50%;
        transform: translateY(-50%);
        content: "";
      }

      &:checked + label:after,
      &:not(:checked) + label:after {
        //체크됐을 때 동그라미
        width: 0.8rem;
        height: 0.8rem;
        background: #373631;
        position: absolute;
        top: 0.65rem;
        left: 0.6rem;
        border-radius: 50%;
        transform: translate(-50%, -50%);
        // -webkit-transition: all 0.2s ease;
        // transition: all 0.2s ease;
        content: "";
      }
      &:not(:checked) + label:after {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
      }
      &:checked + label:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
      }
    }
  } //end of .create-radio-container

  .create-toggle {
    width: 100%;
    height: 100%;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    // background: crimson;

    .toggle-title {
      font-size: 1.6rem;
    }
  } //----end of .crete-toggle

  .toggle-checkbox {
    &:checked,
    &:not(:checked) {
      //기본 체크박스 ui 숨기기
      position: absolute;
      left: -9999rem;
    }

    & + .toggle-switch {
      position: relative;
      @include flexbox;
      @include align-items(center);
      @include justify-content(center);
      width: 4.5rem;
      height: 3.5rem;
      // outline: 4px solid navy;

      .toggle-body {
        //토글 바디
        position: relative;
        width: 4.6rem;
        height: 2.4rem;

        &:before,
        &:after {
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 4.6rem;
          height: 2.4rem;
          background-size: 100%;
          content: "";
        }
        &:before {
          //off일 때
          @include bgi("icon-switch-back-off");
        }
        &:after {
          //on일 때
          opacity: 0; //기본 숨김
          @include bgi("icon-switch-back-on");
        }
      } //----end of .toggle-body

      .toggle-head {
        position: absolute;
        width: 4.6rem;
        height: 2.4rem;

        &:before,
        &:after {
          position: absolute;
          top: 0rem;
          left: -0.2rem;
          width: 2.4rem;
          height: 2.5rem;
          display: block;
          background-size: 100%;
          transition: transform 0.5s;
          transform: translateX(0);
          content: "";
        }
        &:before {
          //off일 때
          @include bgi("icon-switch-face-off");
        }
        &:after {
          //on일 때
          opacity: 0; //기본 숨김
          @include bgi("icon-switch-face-on");
        }
      } //----end of .toggle-head
    } //----end of .toggle-switch (normal)

    &:checked + .toggle-switch {
      .toggle-body {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 1;
        }
      } //end of .toggle-body

      .toggle-head {
        &:before {
          opacity: 0;
          transform: translateX(2.4rem);
          transition: transform 0.5s;
        }
        &:after {
          opacity: 1;
          transform: translateX(2.4rem);
          transition: transform 0.5s;
        }
      } //end of .toggle-head
    } //end of .toggle-switch
  } //----end of .toggle-checkbox
}

.create-buttons-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  width: 100%;
  height: 5rem;
  // margin-top: 2rem;

  [class^="button-"] {
    @include flex-grow(1);
    @include flex-basis(50%);
    height: 100%;
    font-size: 1.6rem;
    text-align: center;
  }

  .button-prev {
    background-color: $color-lightgray2;
  }

  .button-next {
    background-color: $color-yellow;
  }
}
