@charset "utf-8";

// **** filter style

.filter-container {
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  // padding-left: 1rem;
  // padding-right: 1rem;
  background-color: $color-noPolls-bg;
}

.button-filter {
  position: relative;
  margin-left: 0.4rem;
  font-size: 1.2rem;
  padding: 0.4rem 3rem 0.4rem 1.1rem;
  border: 1px solid $color-filter-border;
  border-radius: 1.4rem;

  &:first-child {
    margin-left: 0;
  }

  .icon-filter {
    position: absolute;
    top: 0.3rem;
    right: 0.6rem;
    width: 2rem;
    height: 2rem;
  }
}
