@charset "utf-8";

// **** search box

.search-container {
  position: relative;
  // outline: 2px dotted red;

  .pollSearch & {
    margin-top: 1rem;
    padding: 0 1rem 1rem;
    border-bottom: 1px solid $color-lightgray2;
  }

  .search-area {
    width: 100%;
    height: 4.4rem;
    background-color: #fff;
    padding: 0.7rem 1.6rem;
    color: $color-placeholder;
    @include tap-highlight;
  }

  .button-search-delete {
    display: none;
    position: absolute;
    top: 0.7rem;
    right: 1.7rem;
    width: 3rem;
    height: 3rem;

    &.active {
      display: block;
    }

    .icon-search-delete {
      width: 3rem;
      height: 3rem;
      background-position: 50% 50%;
      background-size: 2.4rem 2.4rem;
    }
  }

  .deco-search {
    position: absolute;
    top: 1.2rem;
    left: 2rem;

    .icon-search {
      width: 2rem;
      height: 2rem;
    }
  }
}

.search-box-style01 {
  //메인 화면내 search box
  position: relative;
  display: block;
  height: 4.4rem;
  font-size: 1.6rem;
  line-height: 3rem;
  color: $color-placeholder;
  // @include ellipsis;

  &:before {
    display: block;
    position: absolute;
    top: -3rem;
    right: 0.5rem;
    content: "";
    width: 5.8rem;
    height: 3.4rem;
    @include bgi("deco-searchbox-1");
    background-size: 100%;
  }
}

.search-box-style02 {
  width: 100%;
  height: 4.4rem;
  font-size: 1.6rem;
  padding-left: 4.2rem;
  padding-right: 4.5rem;
  color: $color-black;
  background-color: $color-noPolls-bg;

  @include placeholder {
    font-size: 1.6rem;
    color: $color-placeholder;
  }
}
