@charset "utf-8";

// **** Selectbox style

.selectbox {
  display: none;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: $z-selectbox;
  width: 100%;
  background-color: #fff;
  border: 1px solid $color-blue;
  border-radius: 0.8rem;
  max-height: 20.1rem;
  overflow-y: auto;

  &.active {
    display: block;
  }

  ///////////////
  //태블릿대응??//TODO:

  @media only screen and (min-width: 920px) {
    & {
      max-height: 19.7rem;
    }
  }

  .selectbox-item {
    margin-top: 2px;
    height: 3.8rem;
    padding: 0 1.1rem;
    line-height: 3.8rem;
    font-size: 1.4rem;
    color: $color-navy;
    border-bottom: 1px solid $color-blue;
    box-sizing: border-box;
    @include ellipsis;

    &:last-child {
      border-bottom: none;
    }
  }
}
