@charset "utf-8";

// **** login page

// - - - - - - - - - - - - - - -
// [ .login ]
// - - - - - - - - - - - - - - -

.body-login {
  background-color: #f1f4f7;
}

.login {
  //[*] 로그인 페이지
  background-color: #f1f4f7;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  .login-header {
    //로그인 상단
    padding-top: 3rem;
    text-align: center;

    .logo {
      //블록체인 캠퍼스 로고
      display: inline-block;
      overflow: hidden;
      width: 16rem;
      height: 24rem;
      text-align: center;
      text-indent: -9999rem;
      @include bgi("logo-main");
      background-size: 100%;
    }
  }

  .login-body {
    //로그인 인풋 영역
    position: relative;
    padding: 0 3rem;
  }

  .input-email {
    padding-right: 12rem;
  }

  .input-item {
    padding: 0;
    margin-bottom: 1.6rem;
    background-color: transparent;
  }

  .input-title {
    margin-bottom: 0.8rem;
    padding: 0;
  }

  .login-area-email-info {
    //기본 이메일 주소
    display: none;
    position: absolute;
    top: 4rem;
    right: 1.1rem;
    color: $color-lightblue;
    font-size: 1.4rem;

    &.active {
      display: block;
    }
  }

  .login-area-error {
    //로그인시 나타나는 에러 메시지
    // margin-top: 0.4rem;
    // margin-left: 1rem;
    position: absolute;
    top: 100%;
    left: 1rem;
    font-size: 1.2rem;
    font-weight: $fw-b;

    &.active {
      display: block;
    }
  }

  .button-wrap {
    margin-top: 2.5rem;

    .button-style03 {
      margin-top: 2rem;
      margin-bottom: 3.3rem;
    }
  }

  // .login-univ-logo {
  //   //최하단 학교 로고
  //   display: none;
  //   text-align: center;

  //   &.postech {
  //     display: block;
  //     // background-image: url(); //TODO: 백그라운드 이미지 추가
  //   }
  // }
}

// - - - - - - - - - - - - - - -
// [ .login-signup-form ]
// - - - - - - - - - - - - - - -
.login-signup {
  position: fixed;
  top: 0;
  left: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;
  padding: 0 1.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;

  .login-signup-body {
    z-index: $z-login-signup-body;
    position: relative;
    width: 100%;
    height: auto;
    // margin-top: 8.5rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3.3rem 1.2rem 2.4rem;

    &:before,
    &:after {
      display: block;
      position: absolute;
      left: 50%;
      height: 100%;
      content: "";
      border-radius: 0.8rem;
      background-color: rgba(255, 255, 255, 0.45);
      @include transform(translateX(-50%));
    }

    &:before {
      z-index: $z-login-signup-before;
      top: -1rem;
      width: calc(100% - 2rem);
    }

    &:after {
      z-index: $z-login-signup-after;
      top: -2rem;
      width: calc(100% - 5rem);
    }
  }

  .login-singup-title {
    display: block;
    color: $color-navy;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .input-title {
    color: $color-blue;
    font-size: 1.2rem;
    font-weight: $fw-b;
  }

  // .deco-signup {
  //   margin-top: 31.8rem;
  // }
}

// - - - - - - - - - - - - - - -
// [ .user-infomration ]
// - - - - - - - - - - - - - - -

.bc.body-userinfo {
  //[*] 사용자 정보 입력 페이지
  background-color: #f1f4f4;

  .user-information {
    .page-header {
      height: 4.4rem;
      border-bottom: solid 1px #ebebee;
    }

    .page-title {
      height: 100%;
      line-height: 4.4rem;
      color: #2b486b;
      font-weight: $fw-m;
    }

    .page-body {
      top: 4.4rem;
    }

    .contents {
      min-height: 44rem;
      margin-top: 1.1rem;
      margin-bottom: 3rem;
    }
  }
}

// - - - - - - - - - - - - - - -
// [ .user-infomration-setting ]
// - - - - - - - - - - - - - - -

.user-information-setting {
  &.disable {
    .tab-item {
      color: #a2b0c1;
    }

    .contents {
      &:before {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: calc(100% - 6rem);
        content: "";
      }
    }

    .input-title {
      color: #697685;
    }

    .input-select-ui {
      color: #a2b0c1;
      -webkit-text-fill-color: #a2b0c1;
    }
  }
}

// - - - - - - - - - - - - - - -
// [ .signup ]
// - - - - - - - - - - - - - - -

.signup {
  .input-title {
    margin-left: 1.9rem;
    margin-bottom: 0.5rem;
  }
  .input-item {
    margin-bottom: 2rem;
  }
  .button-wrap-row {
    margin-top: 2.5rem;

    button {
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
    }
  }
}

.signup-dim {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  content: "";
}

.signup-layout {
  height: 23.7rem;
}

.signup-popup {
  z-index: 1;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 89%;
  background-color: #fff;
  @include transform(translate(-50%, -50%));
  border-radius: 0.8rem;

  .signup-title {
    display: block;
    margin: 3rem auto 2.2rem;
    font-size: 1.6rem;
    font-weight: $fw-m;
    text-align: center;
    color: #2b486b;
  }

  .input-email {
    padding-right: 13rem;
  }

  .signup-area-email-info {
    //기본 이메일 주소
    @extend .login-area-email-info;
    top: 3.6rem !important;
    right: 1.9rem !important;
    font-weight: $fw-r;
    &.active {
      display: block;
    }
  }

  .signup-area-error {
    //회원가입 시 나타나는 에러 메시지
    position: absolute;
    top: 100%;
    left: 1.9rem;
    font-size: 1.2rem;
    font-weight: $fw-r;
    color: #30b9d3;

    &.active {
      display: block;
    }
  }
}
