@charset "utf-8";

// **** SVG style

@function _buildIcon($icon) {
  $icon: "#{$icon}";
  @return $icon;
}

@function icon(
  $icon-name,
  $color,
  $stroke-color: transparent,
  $stroke-width: 0,
  $css: '' 
  ){
  $icons: (
    //셀렉트 화살표
    select: '<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"><path fill="#{$color}" d="M15.413 22.65l-5.565-8.156a1.923 1.923 0 0 1 1.589-3.007h11.13a1.923 1.923 0 0 1 1.588 3.007L18.59 22.65a1.923 1.923 0 0 1-3.177 0z" fill-rule="evenodd"/></svg>',
    // 셀렉트 화살표(활성화 시)
    select-active: '<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"><path fill="#{$color}" d="M18.6 12.3l5.6 8.2c.6.9.4 2.1-.5 2.7-.3.2-.7.3-1.1.3H11.4c-1.1 0-1.9-.9-1.9-1.9 0-.4.1-.8.3-1.1l5.6-8.2c.6-.9 1.8-1.1 2.7-.5.2.2.4.3.5.5z"/></svg>',
    // 가로 ... 아이콘
    drawer: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 5.3 20"><path d="M2.8 6c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2c-.1 1.1-.9 2-2 2zm0 5.9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2c-.1 1.1-.9 2-2 2zm0 5.9c-1.1 0-2-.9-2-2s.9-2 2-2 2 .9 2 2c-.1 1.2-.9 2-2 2z" fill="#{$color}"/></svg>',
    // 지갑 추가 + 아이콘
    wallet-add: '<svg xmlns="http://www.w3.org/2000/svg" width="64" height="64"><g fill="none" fill-rule="evenodd"><path stroke="#E0E0E3" stroke-dasharray="2,2" d="M32 62c16.569 0 30-13.431 30-30C62 15.431 48.569 2 32 2 15.431 2 2 15.431 2 32c0 16.569 13.431 30 30 30z"/><path fill="#66DDF4" d="M17.6 29h28.8c1.988 0 3.6 1.343 3.6 3s-1.612 3-3.6 3H17.6c-1.988 0-3.6-1.343-3.6-3s1.612-3 3.6-3z"/><path fill="#30B9D3" d="M35 17.6v28.8c0 1.988-1.343 3.6-3 3.6s-3-1.612-3-3.6V17.6c0-1.988 1.343-3.6 3-3.6s3 1.612 3 3.6z"/></g></svg>',
    // 지갑 내역에서 - 아이콘
    wallet-details-out: '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><g fill="none" fill-rule="evenodd"><path fill="#A7B5C8" d="M4.5 9h12a1.5 1.5 0 0 1 0 3h-12a1.5 1.5 0 0 1 0-3z"/><ellipse cx="14" cy="10.218" fill="#7F8FA5" opacity=".8" rx="4" ry="1"/></g></svg>',
    // 지갑 내역에서 + 아이콘
    wallet-details-in: '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><g fill="none" fill-rule="evenodd"><path fill="#66DDF4" d="M4.5 8.94h12c.828 0 1.5.666 1.5 1.486s-.672 1.485-1.5 1.485h-12c-.828 0-1.5-.665-1.5-1.485 0-.82.672-1.485 1.5-1.485z"/><path fill="#30B9D3" d="M12 4.485v11.881c0 .82-.672 1.485-1.5 1.485S9 17.187 9 16.366V4.486C9 3.664 9.672 3 10.5 3s1.5.665 1.5 1.485z"/></g></svg>',
    // close 버튼
    close: '<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40"><path fill="#{$color}" fill-rule="evenodd" d="M20.5 19.086l6.718-6.718a1 1 0 0 1 1.414 1.414L21.914 20.5l6.718 6.718a1 1 0 0 1-1.414 1.414L20.5 21.914l-6.718 6.718a1 1 0 0 1-1.414-1.414l6.718-6.718-6.718-6.718a1 1 0 0 1 1.414-1.414l6.718 6.718z"/></svg>',
);
  $icon: _buildIcon(map-get($icons, $icon-name));
  @return url('data:image/svg+xml;utf8,#{$icon}');
}