@charset "utf-8";

// **** poll list style

.poll-list {
  .poll-list-item {
    //각 투표 아이템
    margin-bottom: 0.4rem;
    border: 1px solid $color-lightgray2;
    background-color: #fff;
    & > button {
      text-align: left;
      width: 100%;
    }
  }

  .poll-title {
    //투표 이름
    width: 100%;
    padding-top: 1.6rem;
    padding-left: 2rem;
    padding-right: 1.4rem;
    font-size: 1.6rem;
    line-height: 1.88;
    letter-spacing: -0.1px;
    @include ellipsis;
    box-sizing: border-box;
  }

  .poll-process {
    //진행률 부분
    padding-left: 2rem;
    font-size: 1.4rem;
    color: $color-gray;

    .text {
      display: inline-block;
      vertical-align: middle;
    }

    .percent {
      display: inline-block;
      margin-left: 0.2rem;
      font-weight: $fw-bl;
      color: $color-black;
      vertical-align: middle;
    }

    .symbol {
      display: inline-block;
      font-size: 1.2rem;
      vertical-align: middle;
    }
  }

  .poll-info-bottom {
    position: relative;
    @include flexbox;
    @include align-items(flex-end);
    @include justify-content(space-between);
    padding-top: 2.2rem;
    padding-right: 1.4rem;
    padding-bottom: 1.8rem;
    font-size: 1.2rem;
    box-sizing: border-box;

    .container {
      @include flexbox;
      @include flex-direction(column);
      min-width: 13rem;
      margin-left: 5.9rem;
    }
  }

  .poll-icon {
    //투표 상태를 보여주는 둥근 아이콘
    position: absolute;
    top: 2.6rem;
    left: 1.4rem;
    width: 3.6rem;
    height: 3.6rem;
    background-size: 100%;
    background-repeat: no-repeat;
  }

  .poll-owner {
    //투표 생성자 이름
    font-size: 1.4rem;
    color: $color-gray;

    .icon-person {
      display: inline-block;
      width: 1.2rem;
      height: 1.4rem;
      vertical-align: middle;
      margin-right: 0.3rem;
    }
  }

  .poll-description {
    min-height: 1.8rem;
  }

  .poll-duedate {
    color: $color-gray2;
  }

  .poll-active {
    .poll-icon {
      background-image: icon(vm-blue, "#000");
    }
  }

  .poll-inactive {
    .poll-icon {
      background-image: icon(vm-dark, "#000");
    }
  }

  .poll-upcoming {
    .poll-icon {
      background-image: icon(vm-green, "#000");
    }
  }

  .poll-complete {
    .poll-icon {
      background-image: icon(vm-yellow, "#000");
    }
  }

  .poll-finished {
    background-color: #ececec;
    .poll-title,
    .percent,
    .poll-description {
      color: #747474;
    }
    .poll-icon {
      background-image: icon(vm-gray, "#000");
    }
  }
}
