@charset "utf-8";

// **** home screen page

// - - - - - - - - - - - - - - -
// [ .home-dappList ]
// - - - - - - - - - - - - - - -

.home-dappList {
  .contents {
    position: relative;
    padding: 2rem 3rem 0;
  }

  .dashboard {
    overflow: hidden;
    position: relative;
    width: 100%;
    max-width: 72rem;
    margin: 0 auto;

    &-content {
      position: absolute;
      bottom: 2rem;
      left: 2rem;
      font-size: 1.4rem;
      color: #fff;

      &-title {
        margin-bottom: -0.3rem;
        font-size: 2.4rem;
        font-weight: $fw-b;
      }
    }
  } //end of .dashboard

  .dapp-list {
    margin-top: 2rem;
  }

  .dapp-list-top {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-top: 3rem;
    margin-bottom: 2rem;

    & > .title {
      font-size: 2.6rem;
      font-weight: $fw-eb;
    }
  }
}

// .tester {
//   position: relative;

//   .tester_span {
//     position: absolute;
//     top: 14px;
//     left: 8px;
//     color: red;
//   }
// }

// input[type="date"]:before {
//   content: attr(placeholder) !important;
//   color: #aaa;
//   margin-right: 0.5em;
// }
// input[type="date"]:focus:before,
// input[type="date"]:valid:before {
//   content: "" !important;
// }

// #sel-departments {
//   opacity: 0;
//   position: absolute;
//   left: 0;
//   bottom: 0;
//   width: 100%;
//   height: 64px;
//   outline: 4px solid orange;
// }
