@charset "utf-8";

// **** login page

// - - - - - - - - - - - - - - -
// [ .login ]
// - - - - - - - - - - - - - - -

.login {
  //[*] 로그인 페이지
  background-color: #f7f5f5;
  width: 100%;
  height: 100%;

  .login-header {
    //로그인 상단
    padding-top: 3rem;
    text-align: center;
    .logo {
      //블록체인 캠퍼스 로고
      display: inline-block;
      overflow: hidden;
      width: 16rem;
      height: 24rem;
      text-align: center;
      text-indent: -9999rem;
      @include bgi("logo/logo-main");
      background-size: 100%;
    }
  }

  .login-body {
    //로그인 인풋 영역
    position: relative;
    padding: 0 3rem;
  }

  .input-email {
    padding-right: 12rem;
  }

  .input-item {
    margin-bottom: 1.6rem;
  }

  .input-title {
    margin-bottom: 0.8rem;
  }

  .login-area-email-info {
    //기본 이메일 주소
    display: none;
    position: absolute;
    top: 3.5rem;
    right: 1.1rem;
    color: $color-lightblue;
    font-size: 1.4rem;

    &.active {
      display: block;
    }
  }

  .login-area-error {
    //로그인시 나타나는 에러 메시지
    //TODO: 임시, 디자인 시안 미정
    display: none;
    margin-top: 0.4rem;
    margin-left: 1rem;

    &.active {
      display: block;
    }
  }

  .button-wrap {
    @include flexbox;
    @include align-items(center);
    @include flex-direction(column);
    text-align: center;
    margin-top: 2.5rem;

    .button-style03 {
      margin-top: 2rem;
      margin-bottom: 3.3rem;
    }
  }

  .login-univ-logo {
    //최하단 학교 로고
    display: none;
    text-align: center;

    &.postech {
      display: block;
      // background-image: url(); //TODO: 백그라운드 이미지 추가
    }
  }
}

// - - - - - - - - - - - - - - -
// [ .login-signup-form ]
// - - - - - - - - - - - - - - -
.login-signup {
  position: fixed;
  top: 0;
  left: 0;
  @include flexbox;
  @include justify-content(center);
  @include align-items(center);
  width: 100%;
  height: 100%;
  padding: 0 1.8rem;
  background-color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;

  .login-signup-body {
    z-index: $z-login-signup-body;
    position: relative;
    width: 100%;
    height: auto;
    // margin-top: 8.5rem;
    background-color: #fff;
    border-radius: 0.8rem;
    padding: 3.3rem 1.2rem 2.4rem;

    &:before,
    &:after {
      display: block;
      position: absolute;
      left: 50%;
      height: 100%;
      content: "";
      border-radius: 0.8rem;
      background-color: rgba(255, 255, 255, 0.45);
      transform: translateX(-50%);
    }

    &:before {
      z-index: $z-login-signup-before;
      top: -1rem;
      width: calc(100% - 2rem);
    }

    &:after {
      z-index: $z-login-signup-after;
      top: -2rem;
      width: calc(100% - 5rem);
    }
  }

  .login-singup-title {
    display: block;
    color: $color-navy;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  .input-title {
    color: $color-blue;
    font-size: 1.2rem;
    font-weight: $fw-b;
  }

  // .deco-signup {
  //   margin-top: 31.8rem;
  // }
}

// - - - - - - - - - - - - - - -
// [ .user-infomration ]
// - - - - - - - - - - - - - - -

.user-information {
  //[*] 사용자 정보 입력 페이지

  .contents {
    margin-top: 3.6rem;
    margin-bottom: 3.9rem;
    padding: 0 2.8rem 0 3.3rem;
  }
}

// - - - - - - - - - - - - - - -
// [ .wallet- ]
// - - - - - - - - - - - - - - -

[class^="wallet-"] {
  .wallet-info {
    text-align: center;
    color: chartreuse;
    font-size: 1.3rem;
    margin: 2.4rem 0;
  }
}

// - - - - - - - - - - - - - - -
// [ .wallet-setting ]
// - - - - - - - - - - - - - - -

.wallet-setting {
  //[*] 지갑 설정 페이지

  .button-item {
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }
  }
}

// - - - - - - - - - - - - - - -
// [ .wallet-import ]
// - - - - - - - - - - - - - - -

.wallet-import {
  //[*] 지갑 가져오기 페이지
}
