@charset "utf-8";

// **** take vote page

.body-takeVote {
  overflow: hidden;
  background-color: $color-noPolls-bg;
}

.takeVote {
  //[*] 투표 생성 페이지
  width: 100%;
  height: 100%;
  overflow: hidden;

  .page-top {
    height: $ly-takeVote-header-height;
    background-color: $color-yellow;
    box-sizing: border-box;
  }

  .page-body {
    overflow: hidden;
    width: 100%;
    padding-top: $ly-takeVote-header-height;
    height: 100%;
    -webkit-overflow-scrolling: touch;
  }

  .takeVote-container {
    height: 100%;
    overflow-y: auto;

    input[type="text"] {
      color: #0c0c0c;
    }
  }

  .takeVote-title {
    position: relative;
    width: 100%;
    padding-left: 1rem;
    padding-top: 1.6rem;
    padding-bottom: 0.8rem;
    font-size: 1.2rem;

    .icon-write {
      width: 1.3rem;
      height: 1.2rem;
      margin-right: 0.7rem;
    }

    .icon-checkmark-one {
      width: 1.2rem;
      height: 0.9rem;
      margin-right: 0.6rem;
    }

    .icon-checkmark-multiple {
      width: 1.8rem;
      height: 0.9rem;
      margin-right: 0.2rem;
    }

    .icon-checkmark-result {
      width: 1.6rem;
      height: 1rem;
      margin-right: 0.4rem;
    }
  }

  //단, create-item내에 있는 takeVote-title은 padding-left 제거
  .create-item .takeVote-title {
    padding-left: 0;
  }

  .create-description-image {
    margin: 2rem 0 0;
  }
  .create-description {
    color: #0c0c0c;
    padding-bottom: 0.6rem;
  }

  .takeVote-item-container {
    //투표 가능한 영역
    width: 100%;
  }

  .takeVote-item {
    position: relative;
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    width: 100%;
    height: 5rem;
    margin-bottom: 0.2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    .checkbox-block {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $color-noPolls-bg;

      label {
        width: 100%;
        height: 100%;
        line-height: 4.8rem;
        padding-left: 4.2rem;
        border: 1px solid $color-noPolls-bg;

        &:before {
          margin-left: 1rem;
        }
      }

      [type="checkbox"]:checked + label {
        z-index: 1;
        position: relative;
        background-color: #93d5f1;
        border-color: #29ace4;

        & + .number {
          color: #0c0c0c;

          &:before {
            background-image: icon(person, #0c0c0c);
            background-size: 100%;
          }
        }
      }
    } //end of .checkbox-block

    .number {
      z-index: 1;
      position: absolute;
      top: 50%;
      right: 2rem;
      font-size: 1.2rem;
      color: #bcbcbc;
      @include transform(translateY(-50%));

      &:before {
        width: 1.2rem;
        height: 1.4rem;
        display: inline-block;
        margin-right: 0.2rem;
        content: "";
        vertical-align: sub;
        background-image: icon(person, #bcbcbc);
        background-size: 100%;
      }
    }
  }

  // - - - - - - -
  // pollDetails
  // - - - - - - -

  .pollDetails-participants {
    position: absolute;
    bottom: 0.8rem;
    right: 0;
    font-size: 1.2rem;
    font-weight: $fw-m;

    &:before {
      width: 1.2rem;
      height: 1.4rem;
      display: inline-block;
      margin-right: 0.2rem;
      content: "";
      vertical-align: sub;
      background-image: icon(person, #6e6e6e);
      background-size: 100%;
    }
  }

  .pollDetails {
    .percentage {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background-color: #e7e7e7;
      width: 100%;
      height: 100%;
      content: "";
    }

    .takeVote-item {
      background-color: #f4f4f4;
    }

    .checkbox-block {
      z-index: 1;
      background-color: transparent;
    }

    .checkbox-block input[type="checkbox"] + label {
      padding-left: 1.4rem;

      &:before {
        display: none;
      }

      & + .number {
        color: #6e6e6e;

        &:before {
          background-image: icon(person, #6e6e6e);
          background-size: 100%;
        }
      }
    }

    .checkbox-block input[type="checkbox"]:checked + label {
      padding-left: 4.2rem;
      background-color: transparent;
      border-color: transparent;

      &:before {
        display: block;
      }

      & + .number {
        color: #6e6e6e;

        &:before {
          background-image: icon(person, #6e6e6e);
          background-size: 100%;
        }
      }
    }
  }

  .pollDetails-info {
    @include flex-direction(column);
    @include align-items(flex-start);

    .pollDetails-duedate {
      margin-top: 1rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;
    }

    .pollDetails-progress {
      position: relative;
      width: 100%;
      overflow: hidden;

      .text {
        font-size: 1.6rem;

        &:after {
          display: block;
          content: "";
          margin-top: 0.6rem;
          margin-bottom: 2rem;
          width: 100%;
          height: 0.3rem;
          background-color: #f4f4f4;
        }
      }
      .bar {
        position: absolute;
        bottom: 2rem;
        left: 0;
        height: 0.3rem;
        background-color: #93d5f1;
        border: solid 1px #29ace4;
      }
    }
  }
} //end of .takeVote
