@charset "utf-8";

// **** variables

// -------------------------
// [ 1. color pallete ]
// -------------------------
$color-yellow: #ffd33f; //메인 노란색
$color-error: red;
$color-disable: gray;
$color-black: #000;
$color-placeholder: #9c9c9c;
$color-lightgray: #ededed;
$color-lightgray2: #e7e7e7;
$color-noPolls-bg: #f4f4f4;

// -------------------------
// [ 2. z-index ]
// -------------------------
$z-page-header: 100;

// -------------------------
// [ 3. path ]
// -------------------------
$path-image: "../images/";
$path-font: "../fonts/";

// -------------------------
// [ 4. font-weight ]
// -------------------------
$fw-n: normal;
$fw-b: bold;
$fw-eb: bolder;

// -------------------------
// [ 5. style ]
// -------------------------
