@charset "utf-8";

// **** Tab style

///// 변수 리스트 /////
////////////////////

.tab {
  @include flexbox;
  @include align-items(center);
  width: 100%;
  box-sizing: border-box;
  background-color: #fff;

  .tab-item {
    @include flex-grow(1);
    position: relative;
    width: 20%;
    height: 4.9rem;
    color: #a2b0c1;
    font-size: 1.6rem;
    font-weight: $fw-m;

    &.active {
      color: #2c496a;
    }

    // &.active:after {
    //   position: absolute;
    //   left: 0;
    //   bottom: -1px;
    //   display: block;
    //   width: 100%;
    //   height: 2px;
    //   background-color: $color-blue;
    //   content: "";
    // }
  }
}
