@charset "utf-8";

// common style

// **** VARIABLES ****
$ly-header-height: 7rem; //페이지 헤더 높이
//////////////////////

// 페이지 헤더
.page-header {
  z-index: $z-page-header;
  position: fixed;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: $ly-header-height;
  text-align: center;
  line-height: $ly-header-height;
  background-color: #fff;

  .page-header-left {
    position: absolute;
  }
  .page-header-right {
    position: absolute;
  }

  .page-title {
    color: #323232;
    font-size: 1.6rem;
    font-weight: $fw-b;
  }

  & + .page-body {
    position: absolute;
    top: $ly-header-height;
    left: 0;
    width: 100%;
    height: auto;
  }
}

// 페이지 바디
.page-body {
  width: 100%;
  height: auto;
}

// 버튼이 아래로 나열되는 영역
.button-bottom-area {
  position: relative;
  @include flexbox;
  @include justify-content(center);
  text-align: center;
  margin-top: 4rem;

  button:not(:first-child) {
    margin-top: 1rem;
  }
}

//이미지 컨테이너
.image-container {
  position: relative;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  &.overlay-black {
    &:after {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      height: 100vh;
      background-color: rgba(33, 37, 41, 0.7); //TODO:임시
      content: "";
    }
  }
}

//에러 메시지
.error-style01 {
  font-size: 1.2rem;
  font-weight: $fw-b;
  color: $color-error;
}

//숨김 처리
.display-none {
  display: none;
}

///////////////
//태블릿대응??//TODO:

@media only screen and (min-width: 920px) {
  html {
    font-size: 100%;
    height: 100%;
  }
}


body.login {
  background-color: #f7f5f5;
}

input[readonly] {
  cursor: pointer;
}