@charset "utf-8";

// **** Font

// λ…Έν† μ‚°μ¤
$NotoSansBold: "NotoSansKR-Bold"; //900
$NotoSansBlack: "NotoSansKR-Black"; //700
$NotoSansMedium: "NotoSansKR-Medium"; //500
$NotoSansRegular: "NotoSansKR-Regular"; //400

@font-face {
  font-family: "NotoSans";
  font-weight: 900;
  src: url(#{$path-font}#{$NotoSansBold}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansBold}.woff) format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 700;
  src: url(#{$path-font}#{$NotoSansBlack}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansBlack}.woff) format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 500;
  src: url(#{$path-font}#{$NotoSansMedium}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansMedium}.woff) format("woff");
}

@font-face {
  font-family: "NotoSans";
  font-weight: 400;
  src: url(#{$path-font}#{$NotoSansRegular}.woff2) format("woff2"),
    url(#{$path-font}#{$NotoSansRegular}.woff) format("woff");
}
