@charset "utf-8";

.icon {
  display: inline-block;
  font-size: 0;
  width: 3.6rem;
  height: 3.6rem;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.icon-back {
  background-image: icon(back, #000);
}

.icon-filter {
  background-image: icon(filter-down, #000);

  &.active {
  }
}

.icon-person {
  background-image: icon(person, #bcbcbc);
}

.icon-search {
  background-image: icon(search, #9C9C9C);
}