@charset "utf-8";

// **** SVG style

@function _buildIcon($icon) {
  $icon: "#{$icon}";
  @return $icon;
}

@function icon(
  $icon-name,
  $color,
  $stroke-color: transparent,
  $stroke-width: 0,
  $css: ""
) {
  $icons: (
    // ----
      // 뒤로가기 버튼 아이콘
      // ----
      back:
      '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"><path fill="#{$color}" d="M12.929 18.225l7.887 7.887a1.154 1.154 0 1 1-1.632 1.632l-8.159-8.159a1.152 1.152 0 0 1-.225-.318 1.154 1.154 0 0 1-.318-1.857l8.702-8.703a1.154 1.154 0 0 1 1.632 1.631l-7.887 7.887z" fill-rule="evenodd"/></svg>',
    // ----
    // 닫기 버튼
    // ----
    close: '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"><path fill-rule="evenodd" d="M17.694 16.45l7.319-7.32a1.35 1.35 0 0 1 1.909 1.91l-7.319 7.318 6.97 6.97a1.35 1.35 0 0 1-1.909 1.91l-6.97-6.97-6.682 6.682a1.35 1.35 0 0 1-1.91-1.91l6.683-6.682-7.03-7.03a1.35 1.35 0 0 1 1.909-1.91l7.03 7.031z"/></svg>',
    // ----
      // 필터 셀렉트박스 오른편 화살표 아이콘
      // ----
      filter-down:
      '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"><g fill="none" fill-rule="evenodd" transform="translate(-40 -4)"><path fill="#81D9FC" stroke="#29ACE4" d="M50.5 18.117L45.95 11.5h9.1l-4.55 6.617z"/><rect width="65" height="27" x=".5" y=".5" stroke="#D2D2D2" rx="13.5"/></g></svg>',
    // ----
      // 투표 리스트 사용자명 옆 사람 아이콘
      // ----
      person:
      '<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="12" height="14"><defs><path id="a" d="M0 .07h7.98V5H0z"/><path id="c" d="M4.091-.303a2.21 2.21 0 0 0 1.621-.673c.448-.447.672-.988.672-1.62a2.21 2.21 0 0 0-.672-1.622 2.21 2.21 0 0 0-1.62-.672 2.21 2.21 0 0 0-1.622.672 2.21 2.21 0 0 0-.672 1.621c0 .633.224 1.174.672 1.621a2.21 2.21 0 0 0 1.621.673"/></defs><g fill="none" fill-rule="evenodd" transform="translate(2 7)"><mask id="b" fill="#fff"><use xlink:href="#a"/></mask><path fill="#{$color}" d="M7.96 2.852a6.28 6.28 0 0 0-.23-1.289 3.103 3.103 0 0 0-.243-.577 2.076 2.076 0 0 0-.351-.48A1.474 1.474 0 0 0 6.65.189 1.64 1.64 0 0 0 6.019.07c-.034 0-.113.043-.238.127-.125.086-.265.18-.422.285a2.62 2.62 0 0 1-.612.284 2.351 2.351 0 0 1-.757.128 2.35 2.35 0 0 1-.757-.128 2.604 2.604 0 0 1-.612-.284C2.464.378 2.324.282 2.2.197 2.074.113 1.995.07 1.961.07c-.23 0-.441.04-.632.119a1.47 1.47 0 0 0-.485.317 2.035 2.035 0 0 0-.35.48c-.103.187-.184.38-.245.577a6.28 6.28 0 0 0-.23 1.289c-.013.2-.019.404-.019.614 0 .473.138.848.414 1.122.276.275.642.412 1.1.412h4.953c.457 0 .823-.137 1.1-.412.275-.274.413-.649.413-1.122 0-.21-.007-.414-.02-.614" mask="url(#b)"/><use fill="#{$color}" xlink:href="#c"/></g></svg>',
    // ----
      // VM - 파란색
      // ----
      vm-blue:
      '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"><g fill="none" fill-rule="evenodd"><circle cx="18" cy="18" r="18" fill="#29ACE4"/><path fill="#FFF" stroke="#34332E" d="M25.6 15.196h-.01l-.06-.433c-.505-3.74-3.776-6.263-7.98-6.263-4.204 0-7.475 2.524-7.98 6.263l-.06.433H9.5v11.472a.987.987 0 0 0 1.974 0v-.569H23.9v.569a.987.987 0 0 0 1.974 0v-.746a.98.98 0 0 0-.182-.57l-.092-.13V15.195z"/><g transform="translate(15.3 13.478)"><ellipse cx=".771" cy=".913" fill="#000" rx="1" ry="1"/><ellipse cx="4.629" cy=".913" fill="#000" rx="1" ry="1"/><path fill="#FCDC05" stroke="#34332E" d="M.027 3.652h5.346c.018.112.027.226.027.343 0 1.323-1.209 2.396-2.7 2.396S0 5.318 0 3.995c0-.117.01-.231.027-.343z"/></g><path d="M27.5 23.5h3m-25 0h3m21.9-3h3.2m-32.2 0h3.2" stroke="#FFF" stroke-linecap="square"/></g></svg>',
    // ----
      // 검색 아이콘
      // ----
      search:
      '<svg xmlns="http://www.w3.org/2000/svg" width="21" height="21"><g fill="none" fill-rule="evenodd" stroke="#{$color}"><path stroke-linecap="round" stroke-linejoin="round" d="M11.699 11.525l1.947 1.91 1.85-.07 4.4 4.316s.409 2.288-2.043 2.005l-4.544-4.458"/><path d="M13.154 6.792c0-3.368-2.788-6.103-6.23-6.103C3.48.689.691 3.424.691 6.792c0 3.37 2.788 6.104 6.231 6.104s6.23-2.735 6.23-6.104z"/></g></svg>',
    // ----
      // 검색 삭제 아이콘
      // ----
      search-delete:
      '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"><g fill="none" fill-rule="evenodd"><circle cx="12" cy="12" r="12" fill="#{$color}"/><path fill="#FFF" d="M13.414 12l3.536 3.536a1 1 0 0 1-1.414 1.414L12 13.414 8.464 16.95a1 1 0 0 1-1.414-1.414L10.586 12 7.05 8.464A1 1 0 0 1 8.464 7.05L12 10.586l3.536-3.536a1 1 0 0 1 1.414 1.414L13.414 12z"/></g></svg>',
    //----
      // 이미지 첨부 아이콘
      //----
      image-attach:
      '<svg xmlns="http://www.w3.org/2000/svg" width="28" height="28"><g fill="none" fill-rule="evenodd" stroke="#373631" transform="translate(0 4)"><path fill="#FFF" d="M.5.5h27v19H.5z"/><path fill="#FCDC05" d="M24.5 19.5h-21v-5a7 7 0 0 1 14-.078l.008.755.692-.303A4.5 4.5 0 0 1 24.5 19v.5z"/><circle cx="21.5" cy="6.5" r="2.5" fill="#F4F4F4"/></g></svg>'
  );
  $icon: _buildIcon(map-get($icons, $icon-name));
  @return url("data:image/svg+xml;utf8,#{$icon}");
}
