@charset "utf-8";

// **** SVG style

@function _buildIcon($icon) {
  $icon: '<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36">#{$icon}</svg>';
  @return $icon;
}

@function icon(
  $icon-name,
  $color,
  $stroke-color: transparent,
  $stroke-width: 0,
  $css: '' 
  ){
  $icons: (
    back: '<path fill="#{$color}" d="M12.929 18.225l7.887 7.887a1.154 1.154 0 1 1-1.632 1.632l-8.159-8.159a1.152 1.152 0 0 1-.225-.318 1.154 1.154 0 0 1-.318-1.857l8.702-8.703a1.154 1.154 0 0 1 1.632 1.631l-7.887 7.887z" fill-rule="evenodd"/>',
);
  $icon: _buildIcon(map-get($icons, $icon-name));
  @return url('data:image/svg+xml;utf8,#{$icon}');
}